* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: #333;
  color: #f9f9f9;
}

.top-right {
  position: fixed;
  top: 6px;
  right: 5px;
  text-align: right;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
}

.top-right a {
  color: #007bff;
  text-decoration: none;
  margin: 0 5px;
}

.top-right a:hover {
  text-decoration: underline;
}

.btn {
  display: flex;
  gap: 5px;
}

button {
  padding: 8px 16px;
  font-size: 14px;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
}

p {
  font-size: 1rem;
  text-align: center;
}

.meaning {
  display: none;
}

#darkModeToggle {
  position: fixed;
  top: 3px;
  left: 5px;
  border: 2px solid;
}

#darkModeToggle.dark {
  color: white;
  background-color: #333;
}
